.footer.text-center
    h4
        p.text-center.text-muted.small-padding
            | © 2016, with&nbsp;
            span.fa.fa-heart.red
            | &nbsp;by 
            b <a class="red" href="http://twitter.com/kn9ts">Eugene Mutai</a>

        small.text-center.text-muted.small-padding All rights reserved.
