head
    title Start to Gulp -- Sample Page

    // Site Necessities
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=yes')
    meta(http-equiv='Content-Type', content='text/html; charset=utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=Edge')
    meta(name='description', content='')
    meta(name='keywords', content='')
    meta(http-equiv='cleartype', content='on')

    // Disable tap highlight on IE
    meta(name='msapplication-tap-highlight', content='no')

    // Web Application Manifest
    link(rel='manifest', href='manifest.json')

    // Add to homescreen for Chrome on Android
    meta(name='mobile-web-app-capable', content='yes')
    meta(name='application-name', content='Web Starter Kit')
    link(rel='icon', sizes='192x192', href='images/touch/chrome-touch-icon-192x192.png')

    // Add to homescreen for Safari on iOS
    meta(name='apple-mobile-web-app-capable', content='yes')
    meta(name='apple-mobile-web-app-status-bar-style', content='black')
    meta(name='apple-mobile-web-app-title', content='Web Starter Kit')
    link(rel='apple-touch-icon', href='images/touch/apple-touch-icon.png')

    // Tile icon for Win8 (144x144 + tile color)
    meta(name='msapplication-TileImage', content='images/touch/ms-touch-icon-144x144-precomposed.png')
    meta(name='msapplication-TileColor', content='#2F3BA2')

    // Color the status bar on mobile devices
    meta(name='theme-color', content='#2F3BA2')

    //- Favicons
    //- Place favicon.ico and apple-touch-icon.png in the root directory
    //- link(rel="shortcut icon" type="image/png" href="")
    //- link(rel="shortcut icon" type="image/x-icon" href="")

    //- Twitter Bootstrap
    //- Sleek, intuitive, and powerful mobile first front-end frameworks for faster and easier web development.
    //- Bootstrap easily and efficiently scales your project with one code base, from phones to tablets to desktops.
    // http://getbootstrap.com/components
    link(rel='stylesheet', href='../vendor/bootstrap/dist/css/bootstrap.css')
    //- link(rel="stylesheet" href="./vendor/bootstrap/dist/css/bootstrap-theme.css")
    link(rel='stylesheet', href='../vendor/fontawesome/css/font-awesome.css')

    // Your stylesheets
    link(rel='stylesheet', href='./public/css/application.css')
