//
    /**
     * Created by Eugene Mutai
     * Github/Twitter: @kn9ts
     * Email: eugenemutai@gmail.com
     * Date: 06/04/14 (Last updated on 17/03/16)
     * Time: 12:45 PM
     * Description: Simple HTML5 application template to get you started.
     *
     * ===== "How does somebody know what they want if they haven’t even seen it?" - Steve Jobs. =====

doctype html
html(lang="en")

    include ../includes/header

    body
        // Add your site or app content here
        block content

        include ../includes/footer
        include ../includes/scripts
